{
  "arrowParens": "always",
  "semi": false,
  "endOfLine": "auto",
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 80,
  "jsxBracketSameLine": false,
  "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-organize-imports"]
}
